<html>
  <body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <div id="content"></div>

    <script type="text/javascript">
      const app = new Vue({
        data: () => ({ value: 'A', saved: false }),
        watch: {
          value: function() {
            const body = JSON.stringify(this.data);
            fetch('http://httpbin.org/post', { method: 'POST', body }).
              then(() => { this.saved = true; });
          }
        },
        template: `
          <div id="rendered-content">
            <select v-model="value">
              <option>A</option>
              <option>B</option>
              <option>C</option>
            </select>
            <div v-if="saved" id="saved">Saved!</div>
          </div>
        `
      });
      app.$mount('#content');
    </script>
  </body>
</html>