.footer .container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

Footer{
	background: #168a93;
	font-family: 'Poppins', sans-serif;
	min-height: 600px;
}
.footer .group {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.footer .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.footer .col:first-child { margin-left: 0; }
.footer .span_3_of_3 {
	width: 100%; 
}

.footer .span_2_of_3 {
	width: 66.13%; 
}
.footer .span_1_of_3 {
	width: 32.26%; 
}
.footer .span_4_of_4 {
	width: 100%; 
}
.footer .span_3_of_4 {
	width: 74.6%; 
}
.footer .span_2_of_4 {
	width: 49.2%; 
}
.footer .span_1_of_4 {
	width: 23.8%; 
}
.footer {
	margin-top: 50px;
	padding-top: 80px;
	padding-bottom: 40px;
}
.footer .footerLogo{
	height: 230px;
	margin-top: 40px;
}
.footer .text-center{
	text-align: center;
}
.footer .socialIcon img{
	height: 50px;
	margin-right: 10px;
}
.footer .socialIcon{
	margin-top: 20px;
}
.footer .locationAndMail{
	margin-top: 20px;
	color: #fff;
}
.footer .locationAndMail .addressCtrl{
	line-height: 2;
}
.footer .locationAndMail img{
	height: 20px;
	margin-right: 10px;
}
.footer .locationAndMail .plane{
	background: #fff;
}
.footer .copyRight .privacy{
	margin: 0;
	font-size: 12px;
}
.footer .copyRight p{
	margin: 0;
	color: #fff;;
}
.footer .copyRight{
	margin-top: 30px;
}
.footer .footerLink ul{
	padding: 0;
}
.footer .footerLink ul li{
	list-style: none;
	line-height: 1.8;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.footer a{
	text-decoration: none;
	color: #fff;
}
.footer .footerLink h4{
	color: #f0db4f;
	font-size: 18px;
}
.footer .subscribe{
	position: absolute;
}
.footer .subscribeBtn{
	padding: 7px 45px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	background: transparent;
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.footer .subscribeText{
	font-size: 20px;
	font-weight: 700;
	color: #f0db4f;
}

/* 
Responsive Controll
GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.footer{
		height: 1380px;
	}
	.footer .footerLogo{
		margin-top: 0;
	}
	.footer .col { 
		margin: 1% 0 1% 0%;
	}
  .footer .span_3_of_3 {
		width: 100%; 
	}
	.footer .span_2_of_3 {
		width: 100%; 
	}
	.footer .span_1_of_3 {
		width: 100%;
	}
	.footer .span_4_of_4 {
		width: 100%; 
	}
	.footer .span_3_of_4 {
		width: 100%; 
	}
	.footer .span_2_of_4 {
		width: 100%; 
	}
	.footer .span_1_of_4 {
		width: 100%; 
	}
	.footer .subscribeText{
		font-size: 18px;
	}
	.footer .subscribeBtn{
		padding: 7px 15px;
	}
}
