.hero {
  width: 100%;
  height: 400px;
  background: url(https://s3.amazonaws.com/codebarbarian-images/laptops.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1000px;
}

.hero a {
  color: white;
}

.hero .copy {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  height: 400px;
}

.hero .intro {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5em;
  color: #0A5257;
  text-align: center;
  padding-top: 80px;
}

.hero .cta {
  width: 1000px;
  margin-top: 50px;
  color: #232323;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
}

.hero .button {
  margin-top: 50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  background-color: #F0DB4F;
  text-align: center;
  border-radius: 4px;
  padding: 0.25em;
}

.pill {
  display: inline-block;
  width: 280px;
  background-color: #F0DB4F;
  margin-bottom: 1em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 2em;
  border-radius: 8px;
  margin-left: 60px;
}

.pill a {
  color: white;
}