.hero {
  width: 100%;
  height: 400px;
  background: url(https://s3.amazonaws.com/codebarbarian-images/laptops.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1000px;
}

.hero a {
  color: white;
}

.hero .copy {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  height: 400px;
}

.hero .intro {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5em;
  color: #00386c;
  text-align: center;
  padding-top: 80px;
}

.hero .cta {
  width: 1000px;
  margin-top: 50px;
  color: #232323;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
}

.hero .button {
  margin-top: 50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  background-color: #0366d6;
  text-align: center;
  border-radius: 4px;
  padding: 0.25em;
}