body {
  font-family: 'Open Sans', 'Verdana', sans-serif;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #208E96;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}

code {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}

p code {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 2px;
  color: #0A5257;
}

li code {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 2px;
  color: #0A5257;
}

p {
  line-height: 1.5em;
}

li {
  line-height: 1.5em;
}

.image-with-caption {
  padding: 3px;
  border: 1px solid #ddd;
  text-align: center;
  width: auto;
  margin-bottom: 1em;
}

.image-with-caption img {
  width: 100%;
  margin-bottom: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}

.image-with-caption .caption {
  color: #333;
  font-size: 0.6em;
  border-top: 1px solid #ddd;
  width: 100%;
  margin: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Nav */

.nav {
  width: 100%;
  background-color: #fafbfc;
  height: 65px;
  border-bottom: 1px solid #ddd;
}

.branding {
  padding-top: 7px;
  padding-left: 0.25em;
  font-size: 1.75em;
}

.branding .logo {
  float: left;
}

.branding .name {
  float: left;
  margin-top: 0.2em;
  margin-left: 0.25em;
}

.branding .name a {
  color: black;
}

.logo img {
  width: 1.75em;
  height: 1.75em;
}

.links {
  margin-top: 0.2em;
  float: right;
}

.links a {
  margin-right: 0.5em;
  font-size: 0.7em;
  margin-top: 0.5em;
}

.hamburger-menu {
  display: none;
}

.links-mobile {
  display: none;
}

/* End Nav */

.content {
  position: relative;
  padding: 15px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content img {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
}

.post {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.post .title {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.post .tags {
  margin-top: 1em;
}

.post .tags .tag {
  color: white;
  background-color: #208E96;
  border-radius: 3px;
  padding: 5px;
  margin-right: 0.5em;
}

.post .tags .tag a {
  color: white;
}

.date {
  font-size: 0.75em;
  color: #333;
}

.cta {
  line-height: 1.5em;
}

.cta a {
  font-weight: bold;
}

.cta img {
  width: auto !important;
  border: 0px;
  margin-top: 1em;
  max-width: 1000px;
}

.cta-img-wrap {
  width: 100%;
  text-align: center;
}

.breadcrumbs {
  font-size: 0.8em;
  color: #ddd;
}

.button {
  background-color: #F0DB4F;
  text-align: center;
  border-radius: 4px;
  font-size: 1.25em;
  padding: 0.5em;
  border: 0px;
  cursor: pointer;
}

.button a {
  color: black;
}

input[type="text"], input[type="password"], input[type="number"] {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 3px;
}

.image-pull-left {
  float: left;
  padding-right: 50px;
}

.image-pull-left img {
  width: 200px;
}

/* cpc ads */

.default-image img {
  width: auto !important;
}

.ad-right {
  position: fixed;
  right: 0px;
  bottom: 194px;
  width: 160px;
  padding: 15px;
}

/* job board */

#jobs {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 190px;
  text-align: center;
  border: 1px solid #ddd;
}

#jobs img {
  border: 0px;
}

#jobs .job-listing {
  margin-bottom: 0.5em;
  margin-left: 2px;
  margin-right: 2px;
}

#jobs .job-listing:hover {
  background-color: #ddd;
}

#jobs .company {
  color: black;
}

#jobs .title {
  margin-top: 0.25em;
}

#jobs .location {
  color: black;
  margin-top: 0.25em;
  font-size: 0.75em;
}

#jobs .company-logo {
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}

#jobs .jobs-view-more {
  margin: 1em;
  font-size: 0.95em;
}

/** Mobile */

@media (max-width: 1000px) {
  .allwrapper {
    padding: 0px;
  }

  .content {
    width: 100%;
    margin-top: 55px;
    padding: 15px;
    box-sizing: border-box;
  }

  .branding {
    font-size: 1.25em;
    padding-top: 15px;
  }

  .nav {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .nav .links {
    display: none;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 15px;
    font-size: 1.625em;
    right: 0.5em;
  }

  .burger-check:checked ~ div {
    display: block;
  }

  .links-mobile {
    width: 100%;
    background-color: #fafbfc;
    position: relative;
    top: 65px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  .links-mobile a {
    display: block;
    padding: 10px;
    font-size: 1.25em;
  }

  .cta img {
    max-width: 370px;
  }

  li {
    line-height: 2em;
  }

  .image-pull-left {
    float: none;
    padding-right: 10px;
  }
  
  .image-pull-left img {
    width: 100%;
  }

  /* CPC ads */

  #_default_ a._default_ {
    width: auto !important;
  }

  .ad-right {
    display: none;
  }

  /* jobs mobile */
  #jobs {
    position: relative;
    top: 0px;
    width: 100%;
  }

  #jobs .job-listing {
    margin: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
  }
}

/* CPM ads */

.carbonad{
  margin-top:0!important;
  margin-bottom:-3rem!important
}

#carbonads {
  position:fixed;
  right: 0px;
  bottom: 0px;
  display:block;
  width:160px;
  padding:15px 15px 15px 15px;
  overflow:hidden;
  font-size:13px;
  line-height:1.4;
  text-align:left;
  background-color: #fafafa;
}

@media (max-width: 1185px) {
  #carbonads {
    display: none !important;
  }

  .right-banner {
    display: none;
  }
}

@media (max-height: 820px) {
  .right-banner {
    display: none;
  }
}

#carbonads a{color:#333;text-decoration:none}

.carbon-poweredby{display:block;color:#777!important}

.carbon-text {
  display: block;
}

#default_masteringjsio {
  height: 95px;
  padding-top: 10px;
}