body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #208E96;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}

code {
  font-family: 'Inconsolata', monospace;
}

p code {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 2px;
  color: #0A5257;
}

li code {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 2px;
  color: #0A5257;
}

p {
  line-height: 1.5em;
}

li {
  line-height: 1.5em;
}

.image-with-caption {
  padding: 3px;
  border: 1px solid #ddd;
  text-align: center;
  width: auto;
  margin-bottom: 1em;
}

.image-with-caption img {
  width: 100%;
  margin-bottom: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}

.image-with-caption .caption {
  color: #333;
  font-size: 0.6em;
  border-top: 1px solid #ddd;
  width: 100%;
  margin: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Nav */

.nav {
  width: 100%;
  background-color: #fafbfc;
  height: 65px;
  border-bottom: 1px solid #ddd;
}

.branding {
  padding-top: 7px;
  padding-left: 0.25em;
  font-size: 1.75em;
}

.branding .logo {
  float: left;
}

.branding .name {
  float: left;
  margin-top: 0.2em;
  margin-left: 0.25em;
}

.branding .name a {
  color: black;
}

.logo img {
  width: 1.75em;
  height: 1.75em;
}

.links {
  padding-top: 4px;
  float: right;
  margin-right: 1em;
}

.links a {
  margin-right: 0.5em;
}

/* End Nav */

.content {
  position: relative;
  padding: 15px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content img {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
}

.post {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.post .title {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.post .tags {
  margin-top: 1em;
}

.post .tags .tag {
  color: white;
  background-color: #208E96;
  border-radius: 3px;
  padding: 5px;
  margin-right: 0.5em;
}

.post .tags .tag a {
  color: white;
}

.date {
  font-size: 0.75em;
  color: #333;
}

.cta img {
  width: auto !important;
  border: 0px;
  margin-top: 1em;
  max-width: 1000px;
}

.cta-img-wrap {
  width: 100%;
  text-align: center;
}

@media (max-width: 1000px) {
  .allwrapper {
    padding: 15px;
  }

  .content {
    width: 100%;
    padding: 0px;
    margin-top: 55px;
  }

  .nav {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .nav .links {
    display: none;
  }

  .cta img {
    max-width: 370px;
  }
}

/* CPM ads */

.carbonad{
  margin-top:0!important;
  margin-bottom:-3rem!important
}

#carbonads {
  position:fixed;
  right: 0px;
  bottom: 0px;
  display:block;
  width:160px;
  padding:15px 15px 15px 15px;
  overflow:hidden;
  font-size:13px;
  line-height:1.4;
  text-align:left;
  background-color: #fafafa;
}

@media (max-width: 1185px) {
  #carbonads {
    display: none !important;
  }
}

#carbonads a{color:#333;text-decoration:none}

.carbon-poweredby{display:block;color:#777!important}