body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #0366d6;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

code {
  font-family: 'Inconsolata', monospace;
}

p code {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 2px;
  color: #00386c;
}

li code {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 2px;
  color: #00386c;
}

p {
  line-height: 1.5em;
}

li {
  line-height: 1.5em;
}

/* Nav */

.nav {
  width: 100%;
  background-color: #fafbfc;
  height: 55px;
  border-bottom: 1px solid #ddd;
}

.branding {
  padding-top: 10px;
  padding-left: 0.25em;
  font-size: 1.5em;
}

.branding .logo {
  float: left;
}

.branding .name {
  float: left;
  margin-top: 0.2em;
  margin-left: 0.25em;
}

.branding .name a {
  color: black;
}

.logo img {
  width: 1.5em;
  height: 1.5em;
}

.links {
  padding-top: 4px;
  float: right;
  margin-right: 1em;
}

.links a {
  margin-right: 0.5em;
}

/* End Nav */

.content {
  position: relative;
  padding: 15px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content img {
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
}

.post {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.post .title {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.post .tags {
  margin-top: 1em;
}

.post .tags .tag {
  color: white;
  background-color: #0366d6;
  border-radius: 3px;
  padding: 5px;
  margin-right: 0.5em;
}

.post .tags .tag a {
  color: white;
}

.date {
  font-size: 0.75em;
  color: #333;
}

@media (max-width: 1000px) {
  .allwrapper {
    padding: 15px;
  }

  .content {
    width: 100%;
    padding: 0px;
    margin-top: 55px;
  }

  pre {
    overflow-x: scroll;
  }

  .nav {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .nav .links {
    display: none;
  }
}