
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>How to Drag and Drop File Upload with Vue - Mastering JS</title>

    <meta property="og:title" content="How to Drag and Drop File Upload with Vue" />
    <meta property="og:site_name" content="Mastering JS" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Placeholder Description" />
    <meta name="description" content="Placeholder Description" />
    <meta name="twitter:image" content="https://masteringjs.io/assets/logo.png">
    <meta property="og:image" content="https://masteringjs.io/assets/logo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Consolas:400,700" rel="stylesheet">
    <link href="https://masteringjs.io/assets/logo.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://masteringjs.io/assets/logo.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/github.css" />
    <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="allwrapper">
      
<div class="nav">
  <div class="branding">
    <div class="logo">
      <img src="/assets/logo.svg" alt="Mastering JS Logo">
    </div>
    <div class="name">
      <a href="/">Mastering JS</a>
    </div>
    <div class="links">
      <a href="/all">Tutorials</a>
      <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
      <a href="/ebooks/mastering-mongoose">eBooks</a>
      <a href="/jobs">Jobs</a>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
<label class="hamburger-menu" for="burger-check">
  &#x2630;
</label>
<input id="burger-check" class="burger-check" type="checkbox" style="display: none" />
<div class="links-mobile">
  <a href="/all">Tutorials</a>
  <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
  <a href="/ebooks/mastering-mongoose">eBooks</a>
  <a href="/jobs">Jobs</a>
</div>

      <div class="content">
        
  <div class="breadcrumbs">
    <a href="/all">Tutorials</a>
    /
    <a href="/vue">Vue</a>
    /
  </div>
  <h1>How to Drag and Drop File Upload with Vue</h1>
  <div class="date">
    Jun 2, 2021
  </div>
  <div id="default_masteringjsio"></div>
  <script>
	(function(){
	  if(typeof _bsa !== 'undefined' && _bsa) {
	    _bsa.init('default', 'CE7I62QE', 'placement:masteringjsio', { target: "#default_masteringjsio", align: "horizontal" });
	  }
	})();
	</script>
  <p>To be able to drag and drop files with vue.js, you
must utilize the
<a href="https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API">html drag and drop api</a>.
To successfully use the drag and drop feature, you must call <code>preventDefault</code> on
<code>dragEnter</code> and <code>dragOver</code> as their default behavior does not allow elements to be dropped. You can also
prevent the default behavior for <code>drop</code> on the parent so you do not accidentally open the file
in the browser if you miss the drop zone as shown below:</p>
<pre><code class="language-html">&lt;div id=<span class="hljs-string">"content"</span>&gt;<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
&lt;script src=<span class="hljs-string">"https://cdn.jsdelivr.net/npm/vue@2.6.12"</span>&gt;<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></span>
&lt;script&gt;
  <span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
    <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">File</span>: []}),
    <span class="hljs-attr">template</span>: <span class="hljs-string">`
      &lt;div style="border-style:solid;" @dragover.prevent @drop.prevent&gt;
      &lt;input type="file" multiple @change="uploadFile"/&gt;
        &lt;div @drop="dragFile" style="background-color:green;margin-bottom:10px;padding:10px;"&gt;
        Or drag the file here
        &lt;div v-if="File.length"&gt;
        &lt;ul v-for="file in File" :key="file"&gt;
        &lt;li&gt;{{file.name}}&lt;/li&gt;
        &lt;/ul&gt;
        &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    `</span>,
    <span class="hljs-attr">methods</span>: {
      uploadFile(e) {
        <span class="hljs-keyword">this</span>.File = e.target.files;
      },
      dragFile(e) {
        <span class="hljs-keyword">this</span>.File = e.dataTransfer.files;
      }
  }
  });
  app.$mount(<span class="hljs-string">"#content"</span>);
<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></span></code></pre>
<div id="content"></div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>
  const app = new Vue({
    data: () => ({ File: []}),
    template: `
      <div style="border-style:solid;" @dragover.prevent @drop.prevent>
      <input type="file" multiple @change="uploadFile"/>
        <div @drop="dragFile" style="background-color:green;margin-bottom:10px;padding:10px;">
        Or drag the file here
        <div v-if="File.length">
        <ul v-for="file in File" :key="file">
        <li>{{file.name}}</li>
        </ul>
        </div>
        </div>
      </div>
    `,
    methods: {
      uploadFile(e) {
        this.File = e.target.files;
      },
      dragFile(e) {
        this.File = e.dataTransfer.files;
      }
  }
  });
  app.$mount("#content");
</script>

  <hr>
<div class="cta">
  <i>
    <a href="https://vueschool.io">Vue School</a> has some of our favorite Vue
    video courses. Their Vue.js Master Class walks you through building a real
    world application, and does a great job of teaching you how to integrate Vue
    with Firebase.
    <a href="https://vueschool.io/courses/the-vuejs-master-class?friend=mongoose">Check it out!</a>
  </i>

  <br><br>

  <div class="cta-img-wrap">
    <a href="https://vueschool.io/courses/the-vuejs-master-class?friend=mongoose">
      <img src="/assets/vueschool.png">
    </a>
  </div>
 </div>

  <hr>
  <div id="jobs">
    <div id="jobs-container">

    </div>
    <div>
      <div class="button jobs-view-more">
        <a href="/jobs">
          View more jobs!
        </a>
      </div>
    </div>
  </div>
  <script src="../../src/client/listjobs.js"></script>
  
    <h2>More Vue Tutorials</h2>
    <ul>
    
    <li><a href="/tutorials/vue/file">How to Read Files with Vue</a></li>
  

    <li><a href="/tutorials/vue/style-scoped">How to Locally Scope the CSS in Your Vue Files</a></li>
  

    <li><a href="/tutorials/vue/select-onchange">How to Use @change in Vue with select Tags</a></li>
  

    <li><a href="/tutorials/vue/inject">Using Provide and Inject in Vue.js</a></li>
  

    <li><a href="/tutorials/vue/file-upload">How To Upload Files With Vue</a></li>
  

    <li><a href="/tutorials/vue/dropdown">How to Use Boostrap With Vue to Make a Dropdown</a></li>
  

    <li><a href="/tutorials/vue/table">How to Use Vue With HTML Tables</a></li>
  
    </ul>
  

      </div>
      

<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'https://g0a3nbw0xa.execute-api.us-east-1.amazonaws.com/prod/track', true);

  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onreadystatechange = function() {};
  xhr.send(JSON.stringify({
    path: window.location.pathname,
    hostname: window.location.hostname
  }));
</script>


      
    </div>
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DLKQY&placement=masteringjsio" id="_carbonads_js"></script>
  </body>
</html>
