
<html>
  <head>
    <title>The $emit Function in Vue - Mastering JS</title>

    <meta property="og:title" content="The $emit Function in Vue" />
    <meta property="og:site_name" content="Mastering JS" />
    <meta property="og:description" content="In Vue, the $emit function lets you pass events up the component tree. Here's how it works." />
    <meta property="og:type" content="article" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no">

    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/github.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Inconsolata:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="allwrapper">
      
<div class="nav">
  <div class="branding">
    <div class="logo">
      <img src="/assets/logo.png">
    </div>
    <div class="name">
      <a href="/">Mastering JS</a>
    </div>
    <div class="links">
      <a href="/all">Tutorials</a>
      <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
    </div>
    <div style="clear: both"></div>
    
<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'https://g0a3nbw0xa.execute-api.us-east-1.amazonaws.com/prod/track', true);

  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onreadystatechange = function() {};
  xhr.send(JSON.stringify({
    path: window.location.pathname,
    hostname: window.location.hostname
  }));
</script>

  </div>
</div>

      <div class="content">
        <h1>The $emit Function in Vue</h1>
        <div class="date">
          Aug 8, 2019
        </div>
        
  <p>Vue components have a <a href="https://vuejs.org/v2/api/#vm-emit"><code>$emit()</code> function</a> that allows you to pass <a href="https://vuejs.org/v2/guide/components-custom-events.html">custom events</a> up the component tree.</p>
<pre><code class="language-javascript">Vue.component(<span class="hljs-string">'my-component'</span>, {
  <span class="hljs-attr">mounted</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-comment">// `$emit()` sends an event up the component tree. The parent</span>
    <span class="hljs-comment">// can listen for the 'notify' event using 'v-on:notify'</span>
    <span class="hljs-keyword">this</span>.$emit(<span class="hljs-string">'notify'</span>);
  },
  <span class="hljs-attr">template</span>: <span class="hljs-string">'&lt;div&gt;&lt;/div&gt;'</span>
});

<span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">show</span>: <span class="hljs-literal">false</span> }),
  <span class="hljs-comment">// Vue evaluates the expression in 'v-on:notify' when it gets a 'notify'</span>
  <span class="hljs-comment">// event. </span>
  template: <span class="hljs-string">`
    &lt;div&gt;
      &lt;my-component v-on:notify="show = true"&gt;&lt;/my-component&gt;
      &lt;div v-if="show"&gt;Notified&lt;/div&gt;
    &lt;/div&gt;
  `</span>
});</code></pre>
<p>All <a href="https://vuejs.org/v2/api/#Instance-Properties">Vue instances</a> have a <code>$emit()</code> function, including both top-level apps and
individual components.</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">template</span>: <span class="hljs-string">'&lt;div&gt;&lt;/div&gt;'</span>
});

<span class="hljs-keyword">let</span> called = <span class="hljs-number">0</span>;
app.$on(<span class="hljs-string">'test-event'</span>, () =&gt; { ++called; });

app.$emit(<span class="hljs-string">'test-event'</span>);
called; <span class="hljs-comment">// 1</span></code></pre>
<h2 id="why-emit">Why <code>$emit()</code>?</h2>
<p>Generally, you use <a href="https://masteringjs.io/tutorials/vue/components#emit"><code>$emit()</code> to notify the parent component that something changed</a>. For example, suppose you have a component <code>input-name</code> that takes a <a href="/tutorials/vue/props">prop</a> called <code>name</code>. This component exposes an input form asking the user for their name, and an &#39;Update&#39; button that updates the name.</p>
<img src="https://codebarbarian-images.s3.amazonaws.com/vue-input.png" class="inline-image" style="width: 300px">

<p>The way to do this is for <code>input-name</code> to <code>$emit()</code> an event called &#39;update&#39; when the user clicks the &#39;Update&#39; button, with the new name.</p>
<pre><code class="language-javascript">Vue.component(<span class="hljs-string">'input-name'</span>, {
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">name</span>: <span class="hljs-string">'World'</span> }),
  <span class="hljs-comment">// When you click the "Update" button, Vue will emit an event `update`</span>
  <span class="hljs-comment">// to the parent, with the current state of 'name'.</span>
  template: <span class="hljs-string">`
    &lt;div&gt;
      &lt;input type="text" v-model="name"&gt;
      &lt;button v-on:click="$emit('update', name)"&gt;
        Update
      &lt;/button&gt;
    &lt;/div&gt;
  `</span>
});

<span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">name</span>: <span class="hljs-string">'World'</span> }),
  <span class="hljs-comment">// To listen to the 'update' event, you create the `input-name`</span>
  <span class="hljs-comment">// component with a `v-on:update` attribute. `$event` contains</span>
  <span class="hljs-comment">// the value of the 2nd parameter to `$emit()`.</span>
  template: <span class="hljs-string">`
    &lt;div&gt;
      &lt;div&gt;
        &lt;input-name v-on:update="setName($event)"&gt;&lt;/input-name&gt;
      &lt;/div&gt;
      &lt;h1&gt;Hello, {{name}}&lt;/h1&gt;
    &lt;/div&gt;
  `</span>,
  <span class="hljs-attr">methods</span>: {
    <span class="hljs-comment">// Define a method that Vue will call to handle the 'update' event.</span>
    setName: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">v</span>) </span>{
      <span class="hljs-keyword">this</span>.name = v;
    }
  }
});
app.$mount(<span class="hljs-string">'#content'</span>);</code></pre>

  
  <hr>
  
    <h2>More Vue Tutorials</h2>
    <ul>
    
    <li><a href="/tutorials/vue/v-for">Vue v-for Tutorial</a></li>
  

    <li><a href="/tutorials/vue/unit-testing">Two Patterns for Unit Testing Vue Apps</a></li>
  

    <li><a href="/tutorials/vue/refs">An Introduction To Vue $refs</a></li>
  

    <li><a href="/tutorials/vue/config">An Overview of the vue.config.js File</a></li>
  

    <li><a href="/tutorials/vue/lifecycle">Vue Component Lifecycle</a></li>
  

    <li><a href="/tutorials/vue/conditional-class">Conditional Classes in Vue</a></li>
  

    <li><a href="/tutorials/vue/form">Building a Basic Form with Vue</a></li>
  
    </ul>
  

      </div>
    </div>

    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DLKQY&placement=masteringjsio" id="_carbonads_js"></script>
  </body>
</html>
