
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Building a Basic Form with Vue - Mastering JS</title>

    <meta property="og:title" content="Building a Basic Form with Vue" />
    <meta property="og:site_name" content="Mastering JS" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Vue's `v-model` directive is useful for collecting user data. Here's how you can use `v-model` to build a form." />
    <meta name="description" content="Vue's `v-model` directive is useful for collecting user data. Here's how you can use `v-model` to build a form." />
    <meta name="twitter:image" content="https://masteringjs.io/assets/logo.png">
    <meta property="og:image" content="https://masteringjs.io/assets/logo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Inconsolata:400,700" rel="stylesheet">
    <link href="https://masteringjs.io/assets/logo.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://masteringjs.io/assets/logo.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/github.css" />
  
    <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="allwrapper">
      
<div class="nav">
  <div class="branding">
    <div class="logo">
      <img src="/assets/logo.svg" alt="Mastering JS Logo">
    </div>
    <div class="name">
      <a href="/">Mastering JS</a>
    </div>
    <div class="links">
      <a href="/all">Tutorials</a>
      <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
      <a href="/ebooks/mastering-mongoose">eBooks</a>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
<label class="hamburger-menu" for="burger-check">
  &#x2630;
</label>
<input id="burger-check" class="burger-check" type="checkbox" style="display: none" />
<div class="links-mobile">
  <a href="/all">Tutorials</a>
  <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
  <a href="/ebooks/mastering-mongoose">eBooks</a>
</div>

      <div class="content">
        
  <div class="breadcrumbs">
    <a href="/all">Tutorials</a>
    /
    <a href="/vue">Vue</a>
    /
  </div>
  <h1>Building a Basic Form with Vue</h1>
  <div class="date">
    Dec 5, 2019
  </div>
  <div id="default_masteringjsio"></div>
  <script>
	(function(){
	  if(typeof _bsa !== 'undefined' && _bsa) {
	    _bsa.init('default', 'CE7I62QE', 'placement:masteringjsio', { target: "#default_masteringjsio", align: "horizontal" });
	  }
	})();
	</script>
  <p><a href="https://masteringjs.io/tutorials/vue/v-model">Vue&#39;s <code>v-model</code> directive</a>
binds the value of an HTML <code>input</code> tag to a JavaScript variable. That
makes it ideal for building a form.</p>
<p>For example, suppose you&#39;re building a login form that you want to
submit with a <a href="/tutorials/axios/post">HTTP POST request using Axios</a>.
Here&#39;s how that looks:</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-comment">// `v-model` binds `email` to a text input in the template,</span>
  <span class="hljs-comment">// and `password` to a password input.</span>
  data: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">email</span>: <span class="hljs-string">''</span>, <span class="hljs-attr">password</span>: <span class="hljs-string">''</span> }),
  <span class="hljs-attr">methods</span>: {
    <span class="hljs-attr">submit</span>: <span class="hljs-keyword">async</span> <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">await</span> axios.post(<span class="hljs-string">'http://httpbin.org/post'</span>, {
        <span class="hljs-attr">email</span>: <span class="hljs-keyword">this</span>.email,
        <span class="hljs-attr">password</span>: <span class="hljs-keyword">this</span>.password
      });
    }
  },
  <span class="hljs-attr">template</span>: <span class="hljs-string">`
    &lt;div&gt;
      &lt;input
        type="text"
        v-model="email"
        placeholder="Email"&gt;
      &lt;input
        type="password"
        v-model="password"
        placeholder="Password"&gt;
      &lt;button v-on:click="submit()"&gt;
        Submit
      &lt;/button&gt;
    &lt;/div&gt;
  `</span>
});</code></pre>
<h2 id="basic-form-validation">Basic Form Validation</h2>
<p><a href="/tutorials/vue/computed">Computed properties</a> are a neat way to handle
form validation in Vue. You can define a <code>emailError</code> property that
Vue then updates whenever the <code>email</code> changes. You can then disable
the &quot;Submit&quot; button whenever there&#39;s an <code>emailError</code>:</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">email</span>: <span class="hljs-string">''</span>, <span class="hljs-attr">password</span>: <span class="hljs-string">''</span> }),
  <span class="hljs-attr">computed</span>: {
    <span class="hljs-attr">emailError</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.email.length === <span class="hljs-number">0</span>) {
        <span class="hljs-keyword">return</span> <span class="hljs-string">'Email is required'</span>;
      }
      <span class="hljs-keyword">if</span> (!<span class="hljs-keyword">this</span>.email.includes(<span class="hljs-string">'@'</span>)) {
        <span class="hljs-keyword">return</span> <span class="hljs-string">'Email must contain "@"'</span>;
      }
      <span class="hljs-keyword">return</span> <span class="hljs-literal">null</span>;
    }
  },
  <span class="hljs-attr">methods</span>: {
    <span class="hljs-attr">submit</span>: <span class="hljs-keyword">async</span> <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">await</span> axios.post(<span class="hljs-string">'http://httpbin.org/post'</span>, {
        <span class="hljs-attr">email</span>: <span class="hljs-keyword">this</span>.email,
        <span class="hljs-attr">password</span>: <span class="hljs-keyword">this</span>.password
      });
    }
  },
  <span class="hljs-attr">template</span>: <span class="hljs-string">`
    &lt;div&gt;
      &lt;input
        type="text"
        v-model="email"
        placeholder="Email"&gt;
      &lt;input
        type="password"
        v-model="password"
        placeholder="Password"&gt;
      &lt;button v-on:click="submit()" v-bind:disabled="emailError"&gt;
        Submit
      &lt;/button&gt;
      &lt;div&gt;
        {{emailError}}
      &lt;/div&gt;
    &lt;/div&gt;
  `</span>
});</code></pre>
<p>Computed properties can rely on other computed properties, so you
can define a separate <code>isFormValid</code> computed property that relies
on computed properties for other fields:</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">email</span>: <span class="hljs-string">''</span>, <span class="hljs-attr">password</span>: <span class="hljs-string">''</span> }),
  <span class="hljs-attr">computed</span>: {
    <span class="hljs-attr">emailError</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.email.length === <span class="hljs-number">0</span>) {
        <span class="hljs-keyword">return</span> <span class="hljs-string">'Email is required'</span>;
      }
      <span class="hljs-keyword">if</span> (!<span class="hljs-keyword">this</span>.email.includes(<span class="hljs-string">'@'</span>)) {
        <span class="hljs-keyword">return</span> <span class="hljs-string">'Email must contain "@"'</span>;
      }
      <span class="hljs-keyword">return</span> <span class="hljs-literal">null</span>;
    },
    <span class="hljs-attr">passwordError</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.password.length === <span class="hljs-number">0</span>) {
        <span class="hljs-keyword">return</span> <span class="hljs-string">'Password is required'</span>;
      }
      <span class="hljs-keyword">return</span> <span class="hljs-literal">null</span>;
    },
    <span class="hljs-attr">isFormValid</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.emailError == <span class="hljs-literal">null</span> &amp;&amp; <span class="hljs-keyword">this</span>.passwordError == <span class="hljs-literal">null</span>;
    }
  },
  <span class="hljs-attr">methods</span>: {
    <span class="hljs-attr">submit</span>: <span class="hljs-keyword">async</span> <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">await</span> axios.post(<span class="hljs-string">'http://httpbin.org/post'</span>, {
        <span class="hljs-attr">email</span>: <span class="hljs-keyword">this</span>.email,
        <span class="hljs-attr">password</span>: <span class="hljs-keyword">this</span>.password
      });
    }
  },
  <span class="hljs-attr">template</span>: <span class="hljs-string">`
    &lt;div&gt;
      &lt;input
        type="text"
        v-model="email"
        placeholder="Email"&gt;
      &lt;input
        type="password"
        v-model="password"
        placeholder="Password"&gt;
      &lt;button v-on:click="submit()" v-bind:disabled="!isFormValid"&gt;
        Submit
      &lt;/button&gt;
    &lt;/div&gt;
  `</span>
});</code></pre>

  <hr>
<div class="cta">
  <i>
    <a href="https://vueschool.io">Vue School</a> has some of our favorite Vue
    video courses. Their Vue.js Master Class walks you through building a real
    world application, and does a great job of teaching you how to integrate Vue
    with Firebase.
    <a href="https://vueschool.io/courses/the-vuejs-master-class?friend=mongoose">Check it out!</a>
  </i>

  <br><br>

  <div class="cta-img-wrap">
    <a href="https://vueschool.io/courses/the-vuejs-master-class?friend=mongoose">
      <img src="/assets/vueschool.png">
    </a>
  </div>
 </div>

  <hr>
  
    <h2>More Vue Tutorials</h2>
    <ul>
    
    <li><a href="/tutorials/vue/books">Best Books to Learn Vue in 2021</a></li>
  

    <li><a href="/tutorials/vue/vue-sfc">Vue Single-File Components</a></li>
  

    <li><a href="/tutorials/vue/reactivity">Reactivity in Vue 3</a></li>
  

    <li><a href="/tutorials/vue/vue-3-components">Components in Vue 3</a></li>
  

    <li><a href="/tutorials/vue/vue-3">What's New in Vue 3</a></li>
  

    <li><a href="/tutorials/vue/vuex-actions">What are Vuex Actions?</a></li>
  

    <li><a href="/tutorials/vue/vuex-store">What is a Vuex Store?</a></li>
  
    </ul>
  

      </div>

      

<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'https://g0a3nbw0xa.execute-api.us-east-1.amazonaws.com/prod/track', true);

  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onreadystatechange = function() {};
  xhr.send(JSON.stringify({
    path: window.location.pathname,
    hostname: window.location.hostname
  }));
</script>


      
    </div>

    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DLKQY&placement=masteringjsio" id="_carbonads_js"></script>
  </body>
</html>
