
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue Component Lifecycle - Mastering JS</title>

    <meta property="og:title" content="Vue Component Lifecycle" />
    <meta property="og:site_name" content="Mastering JS" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Vue components have lifecycle hooks just like React components. Vue calls these functions whenever it does certain things to your component." />
    <meta name="description" content="Vue components have lifecycle hooks just like React components. Vue calls these functions whenever it does certain things to your component." />
    <meta name="twitter:image" content="https://masteringjs.io/assets/logo.png">
    <meta property="og:image" content="https://masteringjs.io/assets/logo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Inconsolata:400,700" rel="stylesheet">
    <link href="https://masteringjs.io/assets/logo.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://masteringjs.io/assets/logo.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/github.css" />
  
    <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="allwrapper">
      
<div class="nav">
  <div class="branding">
    <div class="logo">
      <img src="/assets/logo.svg" alt="Mastering JS Logo">
    </div>
    <div class="name">
      <a href="/">Mastering JS</a>
    </div>
    <div class="links">
      <a href="/all">Tutorials</a>
      <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
      <a href="/ebooks/mastering-mongoose">eBooks</a>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
<label class="hamburger-menu" for="burger-check">
  &#x2630;
</label>
<input id="burger-check" class="burger-check" type="checkbox" style="display: none" />
<div class="links-mobile">
  <a href="/all">Tutorials</a>
  <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
  <a href="/ebooks/mastering-mongoose">eBooks</a>
</div>

      <div class="content">
        
  <div class="breadcrumbs">
    <a href="/all">Tutorials</a>
    /
    <a href="/vue">Vue</a>
    /
  </div>
  <h1>Vue Component Lifecycle</h1>
  <div class="date">
    Jan 8, 2020
  </div>
  <div id="default_masteringjsio"></div>
  <script>
	(function(){
	  if(typeof _bsa !== 'undefined' && _bsa) {
	    _bsa.init('default', 'CE7I62QE', 'placement:masteringjsio', { target: "#default_masteringjsio", align: "horizontal" });
	  }
	})();
	</script>
  <p><a href="https://vuejs.org/v2/guide/instance.html#Instance-Lifecycle-Hooks">Vue lifecycle hooks</a> give you the opportunity to
run code whenever Vue performs a certain action on your component.
The hooks that Vue exposes for every component are:</p>
<ul>
<li><code>beforeCreate</code></li>
<li><code>created</code></li>
<li><code>beforeMount</code></li>
<li><code>mounted</code></li>
<li><code>beforeUpdate</code></li>
<li><code>updated</code></li>
<li><code>beforeDestroy</code></li>
<li><code>destroyed</code></li>
</ul>
<p>The above list is in order. So Vue always calls <code>beforeCreate</code> before
<code>created</code>, and in turn Vue calls <code>created</code> before <code>beforeMount</code>.</p>
<p>To tell Vue to call a function on a given lifecycle hook, you simply
add a method to your Vue instance or <a href="/tutorials/vue/components">Vue component</a>
with the hook name as the property name:</p>
<pre><code class="language-javascript"><span class="hljs-comment">// The below Vue instance has a `created` hook</span>
<span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">created</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'Called!'</span>);
  },
  <span class="hljs-attr">template</span>: <span class="hljs-string">`
    &lt;h1&gt;Hello, World&lt;/h1&gt;
  `</span>
});

<span class="hljs-comment">// Prints "Called!"</span>
app.$mount(<span class="hljs-string">'#content'</span>);</code></pre>
<h2 id="created">Created</h2>
<p>The <code>created</code> hook runs just <em>after</em> Vue creates an instance of your
Vue instance or component. In particular, <code>created</code> runs before <code>mounted</code>
and before the first render of the component. Since the component isn&#39;t
rendered yet, the <a href="https://012.vuejs.org/api/instance-properties.html#vm-$el"><code>$el</code> property</a> will be undefined.</p>
<p>You can use an async function as a <code>created</code> hook, but Vue won&#39;t wait
for the async function to finish before rendering the component.</p>
<pre><code class="language-javascript"><span class="hljs-comment">// This Vue instance has an async created hook</span>
<span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">answer</span>: <span class="hljs-literal">null</span> }),
  <span class="hljs-attr">created</span>: <span class="hljs-keyword">async</span> <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">await</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">Promise</span>(<span class="hljs-function"><span class="hljs-params">resolve</span> =&gt;</span> setTimeout(resolve, <span class="hljs-number">100</span>));
    <span class="hljs-keyword">this</span>.answer = <span class="hljs-number">42</span>;
  },
  <span class="hljs-comment">// Will first render "The answer is N/A", and then</span>
  <span class="hljs-comment">// "The answer is 42" after 100 ms</span>
  template: <span class="hljs-string">`
    &lt;h1&gt;The answer is {{answer == null ? 'N/A' : answer}}&lt;/h1&gt;
  `</span>
});</code></pre>
<p>Similarly, the <code>beforeCreate</code> hook runs just <em>before</em> Vue creates
the instance. One major difference between <code>beforeCreate</code> and <code>create</code>
is that <code>beforeCreate</code> runs <strong>before</strong> the Vue instance&#39;s <code>data</code>
function runs, so any reactive properties will be undefined in <code>beforeCreate</code>:</p>
<pre><code class="language-javascript"><span class="hljs-comment">// This Vue instance has an beforeCreate hook</span>
<span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">data</span>: <span class="hljs-string">'test'</span> }),
  <span class="hljs-attr">beforeCreate</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.data; <span class="hljs-comment">// undefined</span>
  },
  <span class="hljs-attr">template</span>: <span class="hljs-string">`&lt;div&gt;&lt;/div&gt;`</span>
});</code></pre>
<h2 id="mounted">Mounted</h2>
<p>The <code>mounted</code> hook is the most commonly used hook. Vue runs <code>mounted</code>
<em>after</em> Vue <a href="https://vuejs.org/v2/api/#mounted">&quot;mounts&quot; the component to the DOM</a>. There are two major differences between <code>mounted</code> and <code>created</code>:</p>
<ol>
<li>When Vue calls <code>mounted</code>, the <a href="https://012.vuejs.org/api/instance-properties.html#vm-$el"><code>$el</code> property</a> is defined and set to the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Element">DOM element</a> the component is attached to. When Vue calls <code>created</code>, <code>$el</code> is not set.</li>
<li>Vue&#39;s official <a href="/tutorials/vue/ssr">server-side rendering</a> package, <a href="http://npmjs.com/package/vue-server-renderer">vue-server-renderer</a>, runs <code>created</code> hooks but <strong>not</strong> <code>mounted</code> hooks. This makes sense because, in server-side rendering, the Vue instance is never actually attached to a DOM element, vue-server-renderer simply outputs a string containing HTML.</li>
</ol>
<p>The <code>mounted</code> hook is often used to <a href="https://vuejs.org/v2/cookbook/using-axios-to-consume-apis.html">send an HTTP request to load data for the component to display</a>. For example, below is an example of using the <code>mounted</code> hook to send an <a href="/tutorials/vue/axios">HTTP request to load data</a> about a <code>user</code>:</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> url = <span class="hljs-string">'https://jsonplaceholder.typicode.com/users/1'</span>;

<span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">user</span>: <span class="hljs-literal">null</span>, <span class="hljs-attr">error</span>: <span class="hljs-literal">null</span> }),
  <span class="hljs-comment">// Display username if available, and error message if not</span>
  template: <span class="hljs-string">`
    &lt;div&gt;
      &lt;div v-if="user != null"&gt;
        {{user.name}}
      &lt;/div&gt;
      &lt;div v-if="error != null"&gt;
        {{error.message}}
      &lt;/div&gt;
    &lt;/div&gt;
  `</span>,
  mounted
});

<span class="hljs-keyword">async</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">mounted</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">try</span> {
    <span class="hljs-keyword">this</span>.user = <span class="hljs-keyword">await</span> axios.get(url).then(<span class="hljs-function"><span class="hljs-params">res</span> =&gt;</span> res.data);
    <span class="hljs-keyword">this</span>.error = <span class="hljs-literal">null</span>;
  } <span class="hljs-keyword">catch</span> (error) {
    <span class="hljs-keyword">this</span>.user = <span class="hljs-literal">null</span>;
    <span class="hljs-keyword">this</span>.error = error;
  }
}</code></pre>
<p>Whether you use <code>created</code> or <code>mounted</code> to fetch data over HTTP is open to debate.
The <code>created</code> hook runs first, which means you can parallelize fetching and
rendering. But, on the other hand, Vue&#39;s server side rendering doesn&#39;t wait for async <code>created</code> hooks to finish running, so you need to handle it yourself.</p>
<p>On the other hand, <code>mounted</code> runs after the component is mounted, which means
you can ensure a loading screen is shown before sending data to the server. Plus
it is easy to manually call a <code>mounted</code> hook for server-side rendering, so long
as the <code>mounted</code> hook doesn&#39;t rely on the DOM element <code>$el</code>. For example,
here&#39;s how you call the <code>mounted()</code> function from the previous example
on the server side:</p>
<pre><code class="language-javascript"><span class="hljs-keyword">await</span> mounted.call(app);
<span class="hljs-keyword">const</span> data = <span class="hljs-keyword">await</span> renderToString(app);
<span class="hljs-comment">// The HTML output contains the user data</span>
assert.ok(data.includes(<span class="hljs-string">'Leanne Graham'</span>));</code></pre>
<p>The <code>beforeMount</code> hook differs from the <code>mounted</code> hook in that the <code>$el</code>
property still isn&#39;t set. But, on the other hand, Vue also doesn&#39;t
run <code>beforeMount</code> when doing server-side rendering. </p>
<h2 id="updated">Updated</h2>
<p>Vue runs the <a href="https://vuejs.org/v2/api/#updated"><code>updated</code> hook</a> whenever it needs to re-render part of the
component after the component is mounted. Like <code>mounted</code>, Vue doesn&#39;t
run <code>updated</code> hooks when using server-side rendering.</p>
<pre><code class="language-javascript">  <span class="hljs-built_in">window</span>.numUpdated = <span class="hljs-number">0</span>;

  <span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
    <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">count</span>: <span class="hljs-number">0</span> }),
    <span class="hljs-attr">updated</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-comment">// Will print every time you click on the h1</span>
      <span class="hljs-built_in">console</span>.log(++<span class="hljs-built_in">window</span>.numUpdated);
    },
    <span class="hljs-attr">template</span>: <span class="hljs-string">'&lt;h1 v-on:click="++count"&gt;Clicked {{count}}&lt;/h1&gt;'</span>
  });

  app.$mount(<span class="hljs-string">'#content'</span>);</code></pre>
<p>The <code>updated</code> and <code>beforeUpdate</code> hooks are typically useful only for
profiling and debugging. For example, you can plug in a print statement
to see when Vue needs to update, or track how long it took Vue to
update by storing <a href="/tutorials/fundamentals/timestamps">the current time <code>Date.now()</code></a> in <code>beforeUpdate</code> and calculating the difference in <code>updated</code>.
You can&#39;t <a href="https://stackoverflow.com/questions/43764105/how-to-get-changes-in-vue-updated-hook">get a description of the necessary updates</a>.</p>
<h2 id="destroyed">Destroyed</h2>
<p>Vue calls the <code>destroyed</code> and <code>beforeDestroy</code> hooks when the Vue instance
is unmounted from the DOM. Vue calls <code>beforeDestroy</code> immediately before the
instance is unmounted, and <code>destroyed</code> immediately after. For example,
if you create a component for every element in an array <code>elements</code> using <code>v-for</code>,
Vue will call <code>destroyed</code> every time you remove an element from <code>elements</code>.</p>
<pre><code class="language-javascript">  <span class="hljs-built_in">window</span>.numDestroyed = <span class="hljs-number">0</span>;

  Vue.component(<span class="hljs-string">'test'</span>, {
    <span class="hljs-attr">destroyed</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ++<span class="hljs-built_in">window</span>.numDestroyed,
    <span class="hljs-attr">props</span>: [<span class="hljs-string">'num'</span>],
    <span class="hljs-attr">template</span>: <span class="hljs-string">'&lt;div class="test-element"&gt;{{num}}&lt;/div&gt;'</span>
  });

  <span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
    <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">elements</span>: [<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>] }),
    <span class="hljs-attr">destroyed</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-comment">// Will print every time you click on the button, because</span>
      <span class="hljs-comment">// Vue unmounts a `test` component every time you remove</span>
      <span class="hljs-comment">// an element from `elements`.</span>
      <span class="hljs-built_in">console</span>.log(++<span class="hljs-built_in">window</span>.numDestroyed);
    },
    <span class="hljs-attr">template</span>: <span class="hljs-string">`
      &lt;div&gt;
        &lt;test v-for="el in elements" :num="el"&gt;&lt;/test&gt;
        &lt;button v-on:click="elements.splice(0, 1)"&gt;
          Remove First
        &lt;/button&gt;
      &lt;/div&gt;
    `</span>
  });

  app.$mount(<span class="hljs-string">'#content'</span>);</code></pre>
<p>The <code>destroyed</code> hook is usually used for cleaning up global state, like <a href="http://thecodebarbarian.com/my-3-favorite-javascript-interview-questions.html#the-standard-junior-frontend-test">calling <code>clearInterval()</code> if you started an interval in <code>mounted</code></a>.</p>

  <hr>
<div class="cta">
  <i>
    <a href="https://vueschool.io">Vue School</a> has some of our favorite Vue
    video courses. Their Vue.js Master Class walks you through building a real
    world application, and does a great job of teaching you how to integrate Vue
    with Firebase.
    <a href="https://vueschool.io/courses/the-vuejs-master-class?friend=mongoose">Check it out!</a>
  </i>

  <br><br>

  <div class="cta-img-wrap">
    <a href="https://vueschool.io/courses/the-vuejs-master-class?friend=mongoose">
      <img src="/assets/vueschool.png">
    </a>
  </div>
 </div>

  <hr>
  
    <h2>More Vue Tutorials</h2>
    <ul>
    
    <li><a href="/tutorials/vue/dropdown">How to Use Boostrap With Vue to Make a Dropdown</a></li>
  

    <li><a href="/tutorials/vue/table">How to Use Vue With HTML Tables</a></li>
  

    <li><a href="/tutorials/vue/select">How to Use the Select Tag with Vue</a></li>
  

    <li><a href="/tutorials/vue/vue-d3">How to Use D3.js in Your Vue Projects</a></li>
  

    <li><a href="/tutorials/vue/vue-websocket">How to Use Websockets With Your Vue Projects</a></li>
  

    <li><a href="/tutorials/vue/books">Best Books to Learn Vue in 2021</a></li>
  

    <li><a href="/tutorials/vue/chartjs">How to Use Chart.js with Vue</a></li>
  
    </ul>
  

      </div>

      

<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'https://g0a3nbw0xa.execute-api.us-east-1.amazonaws.com/prod/track', true);

  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onreadystatechange = function() {};
  xhr.send(JSON.stringify({
    path: window.location.pathname,
    hostname: window.location.hostname
  }));
</script>


      
    </div>

    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DLKQY&placement=masteringjsio" id="_carbonads_js"></script>
  </body>
</html>
