
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>An Introduction to Vue Watchers - Mastering JS</title>

    <meta property="og:title" content="An Introduction to Vue Watchers" />
    <meta property="og:site_name" content="Mastering JS" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Learn how to use Vue watchers to execute code when a value changes." />
    <meta name="description" content="Learn how to use Vue watchers to execute code when a value changes." />
    <meta name="twitter:image" content="https://masteringjs.io/assets/logo.png">
    <meta property="og:image" content="https://masteringjs.io/assets/logo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Inconsolata:400,700" rel="stylesheet">
    <link href="https://masteringjs.io/assets/logo.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://masteringjs.io/assets/logo.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/github.css" />
  
    <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="allwrapper">
      
<div class="nav">
  <div class="branding">
    <div class="logo">
      <img src="/assets/logo.svg" alt="Mastering JS Logo">
    </div>
    <div class="name">
      <a href="/">Mastering JS</a>
    </div>
    <div class="links">
      <a href="/all">Tutorials</a>
      <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
      <a href="/ebooks/mastering-mongoose">eBooks</a>
    </div>
    <div style="clear: both"></div>
  </div>
</div>
<label class="hamburger-menu" for="burger-check">
  &#x2630;
</label>
<input id="burger-check" class="burger-check" type="checkbox" style="display: none" />
<div class="links-mobile">
  <a href="/all">Tutorials</a>
  <a href="https://www.getrevue.co/profile/masteringjs">Newsletter</a>
  <a href="/ebooks/mastering-mongoose">eBooks</a>
</div>

      <div class="content">
        
  <div class="breadcrumbs">
    <a href="/all">Tutorials</a>
    /
    <a href="/vue">Vue</a>
    /
  </div>
  <h1>An Introduction to Vue Watchers</h1>
  <div class="date">
    Jun 18, 2019
  </div>
  <div id="default_masteringjsio"></div>
  <script>
	(function(){
	  if(typeof _bsa !== 'undefined' && _bsa) {
	    _bsa.init('default', 'CE7I62QE', 'placement:masteringjsio', { target: "#default_masteringjsio", align: "horizontal" });
	  }
	})();
	</script>
  <p>In Vue, <a href="https://vuejs.org/v2/guide/computed.html#Watchers">watchers</a> let you watch a value by registering a callback that Vue will call whenever the value changes.</p>
<p>For example, suppose you had a <a href="https://vuejs.org/v2/guide/forms.html#Select"><code>select</code> tag</a> that asked the user to select between options &#39;A&#39;, &#39;B&#39;, and &#39;C&#39;, and you wanted to implement an &quot;Undo&quot; button that would undo the last change the user made. You can do this by registering a watcher on the <code>value</code> that the select is bound to using <code>v-model</code>.</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">value</span>: <span class="hljs-string">'A'</span>, <span class="hljs-attr">oldValue</span>: <span class="hljs-string">'A'</span> }),
  <span class="hljs-comment">// The `watch` property is a map from watched properties to callbacks</span>
  watch: {
    <span class="hljs-attr">value</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">newValue, oldValue</span>) </span>{
      <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'Name changed from'</span>, oldValue, <span class="hljs-string">'to'</span>, newValue);
      <span class="hljs-keyword">this</span>.oldValue = oldValue;
    }
  },
  <span class="hljs-attr">template</span>: <span class="hljs-string">`
    &lt;div id="rendered-content"&gt;
      &lt;select v-model="value"&gt;
        &lt;option&gt;A&lt;/option&gt;
        &lt;option&gt;B&lt;/option&gt;
        &lt;option&gt;C&lt;/option&gt;
      &lt;/select&gt;
      &lt;button v-on:click="value = oldValue"&gt;Undo&lt;/button&gt;
    &lt;/div&gt;
  `</span>
});</code></pre>
<p><a href="/examples/vue/watch-basic">Here&#39;s the undo button example in action</a>.</p>
<p>One common use case for watchers is to persist changes to the server when a value changes. For example, suppose you wanted to send an HTTP request every time the user changes <code>value</code>. You could register a watcher on <code>value</code>, and send an HTTP request in the <code>watch</code> callback as shown below.</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> app = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">data</span>: <span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> ({ <span class="hljs-attr">value</span>: <span class="hljs-string">'A'</span>, <span class="hljs-attr">saved</span>: <span class="hljs-literal">false</span> }),
  <span class="hljs-attr">watch</span>: {
    <span class="hljs-attr">value</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">const</span> body = <span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-keyword">this</span>.data);
      fetch(<span class="hljs-string">'http://httpbin.org/post'</span>, { <span class="hljs-attr">method</span>: <span class="hljs-string">'POST'</span>, body }).
        then(<span class="hljs-function"><span class="hljs-params">()</span> =&gt;</span> { <span class="hljs-keyword">this</span>.saved = <span class="hljs-literal">true</span>; });
    }
  },
  <span class="hljs-attr">template</span>: <span class="hljs-string">`
    &lt;div id="rendered-content"&gt;
      &lt;select v-model="value"&gt;
        &lt;option&gt;A&lt;/option&gt;
        &lt;option&gt;B&lt;/option&gt;
        &lt;option&gt;C&lt;/option&gt;
      &lt;/select&gt;
      &lt;div v-if="saved" id="saved"&gt;Saved!&lt;/div&gt;
    &lt;/div&gt;
  `</span>
});</code></pre>
<p><a href="/examples/vue/watch-basic">Here&#39;s a live example of the HTTP request watcher</a>.</p>

  <hr>
<div class="cta">
  <i>
    <a href="https://vueschool.io">Vue School</a> has some of our favorite Vue
    video courses. Their Vue.js Master Class walks you through building a real
    world application, and does a great job of teaching you how to integrate Vue
    with Firebase.
    <a href="https://vueschool.io/courses/the-vuejs-master-class?friend=mongoose">Check it out!</a>
  </i>

  <br><br>

  <div class="cta-img-wrap">
    <a href="https://vueschool.io/courses/the-vuejs-master-class?friend=mongoose">
      <img src="/assets/vueschool.png">
    </a>
  </div>
 </div>

  <hr>
  
    <h2>More Vue Tutorials</h2>
    <ul>
    
    <li><a href="/tutorials/vue/vue-chartjs">How to Use Chartjs with Vue</a></li>
  

    <li><a href="/tutorials/vue/reactivity">Reactivity in Vue 3</a></li>
  

    <li><a href="/tutorials/vue/vue-3-components">Components in Vue 3</a></li>
  

    <li><a href="/tutorials/vue/vue-3">What's New in Vue 3</a></li>
  

    <li><a href="/tutorials/vue/vuex-actions">What are Vuex Actions?</a></li>
  

    <li><a href="/tutorials/vue/vuex-store">What is a Vuex Store?</a></li>
  

    <li><a href="/tutorials/vue/vuex-getters">Vuex Getters</a></li>
  
    </ul>
  

      </div>

      

<script type="text/javascript">
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'https://g0a3nbw0xa.execute-api.us-east-1.amazonaws.com/prod/track', true);

  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onreadystatechange = function() {};
  xhr.send(JSON.stringify({
    path: window.location.pathname,
    hostname: window.location.hostname
  }));
</script>


      
    </div>

    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DLKQY&placement=masteringjsio" id="_carbonads_js"></script>
  </body>
</html>
